@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: rgb(260, 239, 218);
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    width: 60%;
}

ul {
    display:flex;
    justify-content:space-between;
    width:100%;
}

li {
    color:black;
    list-style:none;
    cursor:pointer;
    font-size: 40px;
    font-family: 'Tangerine', sans-serif;
}
li:hover {
    color: #D21517;
}

#logo {
    height: auto;
    width: 150px;
    margin-top: 19px;
}

.doces {
    width: 100%;
    display: flex;
    justify-content:center ;
    margin-top: 50px;
}

.fotos-dos-doces {
    margin-left: 150px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 50px;

}

.fotos {
    width: 400px;
    height: 400px;
    background-size:cover ;
    background-position: 100% 90% ;
    border-radius: 5px;
    cursor: pointer;
    transition:1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.sobremesas1 {
    background-image: url(./doces/Copinhos.jpg);
}

.sobremesas2 {
    background-image: url(./doces/coração-lapidado.jpg);
}

.sobremesas3 {
    background-image: url(./doces/controle-de-chocolate.jpg);
}

.sobremesas4 {
    background-image: url(./doces/barra.jpg);
}

.sobremesas5 {
    background-image: url(./doces/copo-da-felicidade.jpg);
}

.sobremesas6 {
    background-image: url(./doces/mini-travessa.jpg);
}

.sobremesas7 {
    background-image: url(./doces/traveça.jpg);
}

.sobremesas8 {
    background-image: url(./doces/Taça\ .jpg);
}

.sobremesas9 {
    background-image: url(./doces/cesta-perssonalizada.jpg);
}

h4 {
    font-family: 'Tangerine', sans-serif;
font-size: 30px;
text-align: center;
}

footer {
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction:column;
    margin-top:10px;
}

span {
    font-size:30px;
    font-family: 'Tangerine', sans-serif;
}

.footer-navigation {
    display:none;
}
.footer-list {
    display:flex;
    flex-direction:column;
    align-items: center;
}

@media (max-width: 768px) {
    .footer-navigation {
        display: block;
    }
    li {
        font-size: 25px;
    }

    nav {
        display: none;
    }

    .fotos {
        width: 195px;
        height: 200px;
        border-radius: 20px;
    }

    h4{
        font-size: 20px;
    }

    .fotos-dos-doces {
        grid-template-columns:repeat(2 ,1fr);
        row-gap: 10;
        column-gap: 10px;
        margin-left: 3px;
    }
    span {
        font-size: 20px;
    }
    

}